In [5]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, when, lit
from pyspark.sql.functions import col, regexp_replace, trim, when, regexp_extract
from pyspark.sql.types import *
from pyspark.sql.functions import col, isnan, when, count, date_format, to_date, to_timestamp
import traceback

# Create Spark Session
spark = SparkSession.builder \
    .appName("DataProcessing") \
    .getOrCreate()

# Customers Schema
customers_schema = StructType([
    StructField("customer_id", StringType(), True),
    StructField("customer_name", StringType(), True),
    StructField("city", StringType(), True),
])  

# Reading Customer CSV
customers_df = spark.read \
    .format("csv") \
    .option("header", True) \
    .schema(customers_schema) \
    .load("../data/customers.csv")

# Check schemas
print("Customers DataFrame Schema:")
customers_df.printSchema()

### Checking the number of rows in the data
num_rows = customers_df.count()
print(f"Number of rows: {num_rows}")

### Check for missing values
# Counting missing values for each column
missing_values = customers_df.select(
    [count(when(col(c).isNull(), c)).alias(c) for c in customers_df.columns]
)
missing_values.show()

### Substitute with a Default Value
def clean_customer_names(customers_df):
    """
    Efficiently handle missing names in customer dataset using PySpark.
    Using na.fill() is more performant than withColumn() for simple replacements.
    """
    name_columns = [col for col in customers_df.columns 
                   if any(name_field in col.lower() 
                         for name_field in ['customer_name','city'])]
    
    fill_dict = {col: "Unknown" for col in name_columns}
    cleaned_df = customers_df.na.fill(fill_dict)
    cleaned_df = cleaned_df.cache()
    return cleaned_df

cleaned_customers_df = clean_customer_names(customers_df)

# Counting missing values for each column
missing_values = cleaned_customers_df.select(
    [count(when(col(c).isNull(), c)).alias(c) for c in cleaned_customers_df.columns]
)
missing_values.show()

def standardize_customer_id(df, column_name: str = "customer_id"):
    try:
        if df is None or column_name not in df.columns:
            print("Invalid DataFrame or column name.")
            return None
        
        pattern = "^[0-9]+$"
        standardized_df = df.withColumn(
            column_name,
            when(
                col(column_name).rlike(pattern),
                col(column_name).cast(LongType())
            ).otherwise(None)
        )
        
        row_count = standardized_df.count()
        print(f"Row count after transformation: {row_count}")
        standardized_df = standardized_df.repartition(200)
        return standardized_df
    except Exception as e:
        print(f"Error in function: {str(e)}")
        traceback.print_exc()
        return None

standardized_customers_df = standardize_customer_id(customers_df, column_name="customer_id")
standardized_customers_df.printSchema()

def filter_invalid_customer_id(df, column_name: str = "customer_id", invalid_values: list = [-99999, 1e6]):
    try:
        if df is None or column_name not in df.columns:
            print("Invalid DataFrame or column name.")
            return None
        
        invalid_values_set = set(invalid_values)
        filter_condition = ~col(column_name).isin(invalid_values_set)
        df_filtered = df.filter(filter_condition)
        return df_filtered
    except Exception as e:
        print(f"Error in function: {str(e)}")
        traceback.print_exc()
        return None

valid_customers_df = filter_invalid_customer_id(customers_df, column_name="customer_id", invalid_values=[-99999, 1e6])
valid_customers_df.show()

def show_invalid_customer_ids(df, column_name: str = "customer_id", invalid_values: list = [-99999, 1e6]):
    try:
        if df is None or column_name not in df.columns:
            print("Invalid DataFrame or column name.")
            return None
        
        invalid_values_set = set(invalid_values)
        filter_condition = col(column_name).isin(invalid_values_set)
        df_invalid = df.filter(filter_condition)
        return df_invalid
    except Exception as e:
        print(f"Error in function: {str(e)}")
        traceback.print_exc()
        return None

invalid_customer_ids_df = show_invalid_customer_ids(customers_df)
invalid_customer_ids_df.show()

# Hashing
customers_df_opt = customers_df.select("customer_name", "city")
customers_with_hash = customers_df_opt.withColumn(
    "customer_id_hash",
    md5(concat(
        coalesce(col("customer_name"), lit("")),
        lit("_"),
        coalesce(col("city"), lit(""))
    ))
)

customers_with_hash.cache()
final_df = customers_with_hash.select(
    "customer_id_hash",
    "customer_name",
    "city"
)

final_df.write \
    .mode("overwrite") \
    .partitionBy("city") \
    .format("parquet") \
    .save("output_path")

print("Number of records processed:", final_df.count())
print("\nSchema of final dataframe:")
final_df.printSchema()
print("\nSample of processed data:")
final_df.show(5, truncate=False)

# Reference cities list
cities = [
    "Johannesburg", "Cape Town", "Durban", "Pretoria", "Port Elizabeth", 
    "East London", "Bloemfontein", "Nelspruit", "Polokwane", "Kimberley"
]

# Create a broadcast variable for efficient lookup
cities_broadcast = spark.sparkContext.broadcast([city.lower() for city in cities])

# Clean and standardize cities, handle null names and invalid cities
cleaned_customers_df = customers_df.withColumn(
    "customer_name",
    when(col("customer_name").isNull(), lit("Unknown"))
    .otherwise(col("customer_name"))
).withColumn(
    "city",
    when(
        (upper(col("city")).rlike("INVALID_CITY[0-9]*")) |
        (col("city").isNull()),
        lit("Unknown")
    ).otherwise(
        when(
            lower(regexp_replace(
                regexp_replace(col("city"), r"[-_]\d+$|[\s]+\d+$", ""),
                r"\s+", " "
            )).isin(cities_broadcast.value),
            initcap(regexp_replace(col("city"), r"[-_]\d+$|[\s]+\d+$", ""))
        ).otherwise(col("city"))
    )
)

# Show results
cleaned_customers_df.select("customer_id", "customer_name", "city").show(truncate=False)

# Checking for duplicates
duplicate_check = cleaned_customers_df.groupBy("customer_id", "customer_name", "city") \
    .agg(count("*").alias("count")) \
    .filter(col("count") > 1)

print("Number of duplicate records found:", duplicate_check.count())

if duplicate_check.count() > 0:
    print("\nDuplicate records found:")
    duplicate_check.show(truncate=False)

deduped_customers_df = cleaned_customers_df.dropDuplicates(["customer_id", "customer_name", "city"])

print("\nOriginal record count:", cleaned_customers_df.count())
print("Record count after removing duplicates:", deduped_customers_df.count())
print("\nFinal cleaned and deduplicated data:")
deduped_customers_df.select("customer_id", "customer_name", "city").show(truncate=False)

deduped_customers_df.createOrReplaceTempView("cleaned_customers")

# Products Schema
products_schema = StructType([
    StructField("product_id", StringType(), True),
    StructField("product_name", StringType(), True),
    StructField("category", StringType(), True),
])  

# Reading Products CSV
products_df = spark.read \
    .format("csv") \
    .option("header", True) \
    .schema(products_schema) \
    .load("../data/products.csv")

print("Products DataFrame Schema:")
products_df.printSchema()

num_rows = products_df.count()
print(f"Number of rows: {num_rows}")

# Check for missing values
missing_values = products_df.select(
    [count(when(col(c).isNull(), c)).alias(c) for c in products_df.columns]
)
missing_values.show()

def clean_product_names(products_df):
    """
    Efficiently handle missing names in products dataset using PySpark.
    """
    name_columns = [col for col in products_df.columns 
                   if any(name_field in col.lower() 
                         for name_field in ['product_name','category'])]
    
    fill_dict = {col: "Unknown" for col in name_columns}
    cleaned_df = products_df.na.fill(fill_dict)
    cleaned_df = cleaned_df.cache()
    return cleaned_df

cleaned_products_df = clean_product_names(products_df)

missing_values = cleaned_products_df.select(
    [count(when(col(c).isNull(), c)).alias(c) for c in cleaned_products_df.columns]
)
missing_values.show()
cleaned_products_df.show(5)

# Simple and efficient column renaming
products_df = products_df.select(
    col("product_name").alias("product_id"),
    col("product_id").alias("product_name"),
    col("category")
)

print("Corrected column data:")
products_df.show(truncate=False)

# Clean and standardize the dataset
cleaned_products_df = products_df.select(
    col("product_id"),
    initcap(
        regexp_replace(
            regexp_replace(
                regexp_replace(
                    col("product_name"),
                    r'[_\-]|\d+$',
                    ''
                ),
                r'\s+',
                ' '
            ),
            r'\s+$',
            ''
        )
    ).alias("product_name"),
    
    when(
        (col("category").isNull()) | 
        (col("category") == "InvalidCategory"), 
        lit("Unknown")
    ).otherwise(col("category")).alias("category")
)

final_products_df = cleaned_products_df.dropDuplicates(["product_id", "product_name", "category"])

print("Cleaned and standardized products data:")
final_products_df.show(truncate=False)

print("\nSummary of changes:")
print("Original row count:", products_df.count())
print("Final row count:", final_products_df.count())

# Create hashed product_id
cleaned_products_df = products_df.select(
    initcap(
        regexp_replace(
            regexp_replace(
                regexp_replace(
                    col("product_name"),
                    r'[_\-]|\d+$',
                    ''
                ),
                r'\s+',
                ' '
            ),
            r'\s+$',
            ''
        )
    ).alias("product_name"),
    
    when(
        (col("category").isNull()) | 
        (col("category") == "InvalidCategory"), 
        lit("Unknown")
    ).otherwise(col("category")).alias("category")
)

final_products_df = cleaned_products_df.withColumn(
    "product_id",
    md5(concat(
        coalesce(col("product_name"), lit("")),
        lit("_"),
        coalesce(col("category"), lit(""))
    ))
).select(
    "product_id",
    "product_name",
    "category"
)

final_products_df.cache()
final_products_df = final_products_df.dropDuplicates(["product_name", "category"])

print("Products with hashed IDs:")
final_products_df.show(truncate=False)

print("\nSummary:")
print("Original row count:", products_df.count())
print("Final row count:", final_products_df.count())
print("\nSchema of final dataframe:")
final_products_df.printSchema()

# Dates Schema
date_schema = StructType([
    StructField("date", DateType(), True),
    StructField("mmm_yy", StringType(), True),
    StructField("week_no", StringType(), True)
])

# Reading Dates CSV
date_df = spark.read \
    .format("csv") \
    .option("header", True) \
    .schema(date_schema) \
    .load("../data/dates.csv")

print("Dates DataFrame Schema:")
date_df.printSchema()

num_rows = date_df.count()
print(f"Number of rows: {num_rows}")

missing_values = date_df.select(
    [count(when(col(c).isNull(), c)).alias(c) for c in date_df.columns]
)
missing_values.show()

print("Original row count:", date_df.count())
date_df = date_df.na.drop(how='any')

print("\nCleaned data (rows with no missing values):")
date_df.show(truncate=False)

print("\nSchema of cleaned dataframe:")
date_df.printSchema()

missing_values = date_df.select(
    [count(when(col(c).isNull(), c)).alias(c) for c in date_df.columns]
)
missing_values.show()

# Clean dates data
cleaned_date_df = date_df.na.drop(how='any') \
    .filter(
        ~lower(col("mmm_yy")).contains("invalid_date") &
        col("mmm_yy").isNotNull()
    ).withColumn(
        "week_no",
        regexp_extract(col("week_no"), r"(\d+)", 1)
    )

# Save final processed datasets
deduped_customers_df.write.mode("overwrite").parquet("output/customers")
final_products_df.write.mode("overwrite").parquet("output/products")
cleaned_date_df.write.mode("overwrite").parquet("output/dates")

# Show top 20 records from each dataset
print("\nTop 20 Customer Records:")
deduped_customers_df.show(20, truncate=False)

print("\nTop 20 Product Records:")
final_products_df.show(20, truncate=False)

print("\nTop 20 Date Records:")
cleaned_date_df.show(20, truncate=False)

spark.stop()

Customers DataFrame Schema:
root
 |-- customer_id: string (nullable = true)
 |-- customer_name: string (nullable = true)
 |-- city: string (nullable = true)

Number of rows: 200
+-----------+-------------+----+
|customer_id|customer_name|city|
+-----------+-------------+----+
|          0|           22|  21|
+-----------+-------------+----+

25/01/14 19:36:32 WARN CacheManager: Asked to cache already cached data.
+-----------+-------------+----+
|customer_id|customer_name|city|
+-----------+-------------+----+
|          0|            0|   0|
+-----------+-------------+----+

Row count after transformation: 200
root
 |-- customer_id: long (nullable = true)
 |-- customer_name: string (nullable = true)
 |-- city: string (nullable = true)

+-----------+-----------------+-----------------+
|customer_id|    customer_name|             city|
+-----------+-----------------+-----------------+
|     789221|      Info Stores|     Polokwane 11|
|     789301|             null|           durban|
|     789121|      Coolblue 96|        Cape Town|
|     789501|     Logic Stores|port elizabeth-10|
|     789201|         coolblue|   port elizabeth|
|     789422|    viveks stores|             null|
|     789603|        Rel Fresh|      East London|
|     789201|        rel fresh|             null|
|     789303|             null|INVALID_CITY20499|
|     123.45|             null|INVALID_CITY55754|
|     789520|       Lotus Mart|             null|
|     789902|    Viveks Stores|      East London|
|     789522|    Elite Mart_74|INVALID_CITY58916|
|     789101|    Viveks Stores|          durban1|
|         ID|     elite mart98|         Pretoria|
|     789301|    viveks stores|     East London1|
|     789420|Acclaimed Stores7|        Polokwane|
|     789420|             null|        polokwane|
|     789303|             null|INVALID_CITY65781|
|     789122|       Elite Mart| port elizabeth10|
+-----------+-----------------+-----------------+
only showing top 20 rows

+-----------+--------------------+-----------------+
|customer_id|       customer_name|             city|
+-----------+--------------------+-----------------+
|  1000000.0|                null|        polokwane|
|     -99999|         PROPEL MART|        Cape Town|
|  1000000.0|                null|        Polokwane|
|     -99999|        Sorefoz Mart|      pretoria 14|
|  1000000.0|          Elite Mart|      East London|
|  1000000.0|        logic stores|        kimberley|
|     -99999|      propel mart_11|             null|
|     -99999|         Expert Mart|        nelspruit|
|     -99999|   Chiptec Stores_42|      cape town 9|
|     -99999|       lotus mart 74|        Kimberley|
|  1000000.0|        logic stores|        Nelspruit|
|  1000000.0|            COOLBLUE|           durban|
|     -99999|expression stores_62|        Polokwane|
|  1000000.0|          ELITE MART|     Nelspruit 18|
|     -99999|            COOLBLUE|INVALID_CITY62618|
|     -99999|          Lotus Mart|        Cape Town|
|     -99999|        Lotus Mart10|     east london8|
|     -99999|         expert mart|        cape town|
|  1000000.0|         info stores|      Nelspruit11|
|     -99999|        INVALID_NAME|      pretoria 17|
+-----------+--------------------+-----------------+

25/01/14 19:36:32 WARN CacheManager: Asked to cache already cached data.

Number of records processed: 200

Schema of final dataframe:
root
 |-- customer_id_hash: string (nullable = false)
 |-- customer_name: string (nullable = true)
 |-- city: string (nullable = true)


Sample of processed data:
+--------------------------------+-------------+-----------------+
|customer_id_hash                |customer_name|city             |
+--------------------------------+-------------+-----------------+
|1e7746579353fc48ce01dad8221156c9|Info Stores  |Polokwane 11     |
|c270645522c203f91626a17998317cc8|null         |durban           |
|b979555b640767d3f2603e29319024f0|Coolblue 96  |Cape Town        |
|6d9be2294eb49598988c36e46e3d630a|Logic Stores |port elizabeth-10|
|4ac660ea4ac050c24e503263f4e29107|coolblue     |port elizabeth   |
+--------------------------------+-------------+-----------------+
only showing top 5 rows

+-----------+-----------------+--------------+
|customer_id|customer_name    |city          |
+-----------+-----------------+--------------+
|789221     |Info Stores      |Polokwane     |
|789301     |Unknown          |Durban        |
|789121     |Coolblue 96      |Cape Town     |
|789501     |Logic Stores     |Port Elizabeth|
|789201     |coolblue         |Port Elizabeth|
|789422     |viveks stores    |Unknown       |
|789603     |Rel Fresh        |East London   |
|1000000.0  |Unknown          |Polokwane     |
|789201     |rel fresh        |Unknown       |
|789303     |Unknown          |Unknown       |
|123.45     |Unknown          |Unknown       |
|789520     |Lotus Mart       |Unknown       |
|789902     |Viveks Stores    |East London   |
|789522     |Elite Mart_74    |Unknown       |
|789101     |Viveks Stores    |durban1       |
|ID         |elite mart98     |Pretoria      |
|789301     |viveks stores    |East London1  |
|789420     |Acclaimed Stores7|Polokwane     |
|789420     |Unknown          |Polokwane     |
|789303     |Unknown          |Unknown       |
+-----------+-----------------+--------------+
only showing top 20 rows

Number of duplicate records found: 4

Duplicate records found:
+-----------+-------------+---------+-----+
|customer_id|customer_name|city     |count|
+-----------+-------------+---------+-----+
|1000000.0  |Unknown      |Polokwane|2    |
|123.45     |Unknown      |Unknown  |3    |
|789303     |Unknown      |Unknown  |2    |
|789122     |logic stores |Cape Town|2    |
+-----------+-------------+---------+-----+


Original record count: 200
Record count after removing duplicates: 195

Final cleaned and deduplicated data:
+-----------+----------------+--------------+
|customer_id|customer_name   |city          |
+-----------+----------------+--------------+
|1000000.0  |Unknown         |Polokwane     |
|789420     |Acclaimed Stores|Unknown       |
|abcd       |Propel Mart     |Nelspruit     |
|789320     |Propel Mart_95  |Unknown       |
|123.45     |Rel Fresh       |East London   |
|789201     |Sorefoz Mart    |Durban        |
|789102     |Lotus Mart      |Nelspruit     |
|789503     |Unknown         |Bloemfontein  |
|789121     |Elite Mart      |Nelspruit     |
|789421     |Unknown         |Cape Town     |
|789501     |vijay stores    |Polokwane     |
|789521     |Viveks Stores   |Pretoria10    |
|789401     |Unknown         |Pretoria      |
|789420     |Unknown         |Port Elizabeth|
|789422     |CHIPTEC STORES  |Unknown       |
|789622     |chiptec stores  |Unknown       |
|789121     |Propel Mart_80  |Kimberley     |
|789421     |Viveks Stores_15|Unknown       |
|789603     |expert mart     |Unknown       |
|789603     |Vijay Stores    |East London   |
+-----------+----------------+--------------+
only showing top 20 rows

Products DataFrame Schema:
root
 |-- product_id: string (nullable = true)
 |-- product_name: string (nullable = true)
 |-- category: string (nullable = true)

Number of rows: 100
25/01/14 19:36:35 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: product_name, product_id, category
 Schema: product_id, product_name, category
Expected: product_id but found: product_name
CSV file: file:///workspace/data/products.csv
+----------+------------+--------+
|product_id|product_name|category|
+----------+------------+--------+
|         0|           0|      16|
+----------+------------+--------+

25/01/14 19:36:35 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: product_name, product_id, category
 Schema: product_id, product_name, category
Expected: product_id but found: product_name
CSV file: file:///workspace/data/products.csv
+----------+------------+--------+
|product_id|product_name|category|
+----------+------------+--------+
|         0|           0|       0|
+----------+------------+--------+

+--------------------+------------+---------------+
|          product_id|product_name|       category|
+--------------------+------------+---------------+
|    COCA COLA 500ML_|     1001001|      Beverages|
|           Flour 2kg|     1005001|      Groceries|
|     Coca Cola 500ml|     1001001|InvalidCategory|
|         FLOUR 2KG70|     1005001|        Unknown|
|INSTANT COFFEE 200G_|     1008002|      Beverages|
+--------------------+------------+---------------+
only showing top 5 rows

Corrected column data:
25/01/14 19:36:35 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: product_name, product_id, category
 Schema: product_id, product_name, category
Expected: product_id but found: product_name
CSV file: file:///workspace/data/products.csv
+----------+--------------------+---------------+
|product_id|product_name        |category       |
+----------+--------------------+---------------+
|1001001   |COCA COLA 500ML_    |Beverages      |
|1005001   |Flour 2kg           |Groceries      |
|1001001   |Coca Cola 500ml     |InvalidCategory|
|1005001   |FLOUR 2KG70         |null           |
|1008002   |INSTANT COFFEE 200G_|Beverages      |
|-99999    |instant coffee 100g_|Beverages      |
|1007001   |YOGURT PLAIN 500ML93|Dairy          |
|1001003   |Sprite 500ml        |InvalidCategory|
|1005002   |Flour 1kg           |Groceries      |
|1005001   |FLOUR 2KG           |Groceries      |
|-99999    |rice 5kg            |null           |
|ID        |tea leaves 250g     |Beverages      |
|1006001   |CHEDDAR CHEESE 250G |Dairy          |
|1001003   |Sprite 500ml        |null           |
|1003002   |Sugar 500g_         |Groceries      |
|1005001   |Flour 2kg_          |InvalidCategory|
|1004002   |RICE 1KG            |InvalidCategory|
|1001003   |sprite 500ml_       |Beverages      |
|1007002   |YOGURT PLAIN 250ML  |null           |
|1005001   |Flour 2kg69         |Groceries      |
+----------+--------------------+---------------+
only showing top 20 rows

Cleaned and standardized products data:
25/01/14 19:36:35 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: product_name, product_id, category
 Schema: product_id, product_name, category
Expected: product_id but found: product_name
CSV file: file:///workspace/data/products.csv
+----------+-------------------+---------+
|product_id|product_name       |category |
+----------+-------------------+---------+
|-99999    |Instant Coffee 100g|Beverages|
|123.45    |Flour 2kg          |Groceries|
|1001001   |Coca Cola 500ml    |Unknown  |
|PROD2351  |Flour 1kg          |Groceries|
|1008001   |Instant Coffee 100g|Beverages|
|1007001   |Yogurt Plain 500ml |Dairy    |
|1007002   |Yogurt Plain 250ml |Unknown  |
|1006002   |Cheddar Cheese 500g|Unknown  |
|1007001   |Yogurt Plain 500ml |Unknown  |
|1006002   |Cheddar Cheese 500g|Dairy    |
|1001003   |Sprite 500ml       |Beverages|
|1005001   |Flour 2kg          |Groceries|
|ID        |Yogurt Plain 250ml |Dairy    |
|1004002   |Rice 1kg           |Unknown  |
|ID        |Tea Leaves 250g    |Beverages|
|1002001   |Cooking Oil 1l     |Unknown  |
|-99999    |Cheddar Cheese 250g|Dairy    |
|1009002   |Tea Leaves 500g    |Beverages|
|1001002   |Pepsi 500ml        |Beverages|
|1005002   |Flour 1kg          |Groceries|
+----------+-------------------+---------+
only showing top 20 rows


Summary of changes:
Original row count: 100
25/01/14 19:36:35 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: product_name, product_id, category
 Schema: product_id, product_name, category
Expected: product_id but found: product_name
CSV file: file:///workspace/data/products.csv
Final row count: 54
Products with hashed IDs:
25/01/14 19:36:35 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: product_name, category
 Schema: product_id, category
Expected: product_id but found: product_name
CSV file: file:///workspace/data/products.csv
+--------------------------------+-------------------+---------+
|product_id                      |product_name       |category |
+--------------------------------+-------------------+---------+
|59e9f4bf700031a537a7495085e108c4|Cheddar Cheese 250g|Dairy    |
|bd984327e9f06bf46e749d2e1300bb08|Cheddar Cheese 250g|Unknown  |
|fde194048278a967cd1e31df11a23052|Cheddar Cheese 500g|Dairy    |
|42687c68689652bb63145761b0120672|Cheddar Cheese 500g|Unknown  |
|374765b4eb2766da24879be557999ad3|Coca Cola 500ml    |Beverages|
|f90fd885f02cb1c92002c744b91dade5|Coca Cola 500ml    |Unknown  |
|3c0594ca73dba30ca02ffb2bfadd45c1|Cooking Oil 1l     |Groceries|
|15dd4eed8967ffc36ec15da1bb5ec094|Cooking Oil 1l     |Unknown  |
|c4ce0dac2a59479a54fd2390ea3aff75|Cooking Oil 500ml  |Groceries|
|cced1eca77baae1515d28b3551b2ba5e|Flour 1kg          |Groceries|
|1efeef6291721b1b3cea0a8b4a93a1fb|Flour 1kg          |Unknown  |
|bdbd13b42313c69b19f2f502f0cd773e|Flour 2kg          |Groceries|
|a51df4c002dddadbb081b25c53e28595|Flour 2kg          |Unknown  |
|5238265e0712dccef6a797b7ba95fc19|Instant Coffee 100g|Beverages|
|f84a6998837a75b512e302618f45a15f|Instant Coffee 100g|Unknown  |
|e4c705cd3c24eda69c4448d294a6e822|Instant Coffee 200g|Beverages|
|6b28baacd380a0b0fe9a37d51bf14181|Instant Coffee 200g|Unknown  |
|05f99abad0a9a5a773c88146e9ff1aee|Pepsi 500ml        |Beverages|
|102bf0789865aa068f05948feeb143aa|Rice 1kg           |Groceries|
|684e14267ff0d254f26aa3437c443c24|Rice 1kg           |Unknown  |
+--------------------------------+-------------------+---------+
only showing top 20 rows


Summary:
Original row count: 100
Final row count: 36

Schema of final dataframe:
root
 |-- product_id: string (nullable = false)
 |-- product_name: string (nullable = true)
 |-- category: string (nullable = true)

Dates DataFrame Schema:
root
 |-- date: date (nullable = true)
 |-- mmm_yy: string (nullable = true)
 |-- week_no: string (nullable = true)

Number of rows: 366
+----+------+-------+
|date|mmm_yy|week_no|
+----+------+-------+
|  42|    41|      0|
+----+------+-------+

Original row count: 366

Cleaned data (rows with no missing values):
+----------+------------+-------+
|date      |mmm_yy      |week_no|
+----------+------------+-------+
|2024-01-01|Jan-24      |W1     |
|2024-01-02|Jan-24      |w1     |
|2024-01-03|Jan-24      |W1     |
|2024-01-04|Jan-24      |W1     |
|2024-01-05|Jan-24      |W1     |
|2024-01-06|Jan-24      |W1     |
|2024-01-08|JAN-24      |W2     |
|2024-01-09|Jan-24      |w2     |
|2024-01-10|Jan-24      |W2     |
|2024-01-11|Jan-24      |W2     |
|2024-01-12|JAN-24      |W2     |
|2024-01-13|Jan-24      |W2     |
|2024-01-14|Jan-24      |W2     |
|2024-01-15|JAN-24      |W3     |
|2024-01-16|Jan-24      |w3     |
|2024-01-17|Jan-24      |w3     |
|2024-01-18|invalid_date|W3     |
|2024-01-19|Jan-24      |W3     |
|2024-01-20|Jan-24      |W3     |
|2024-01-21|JAN-24      |w3     |
+----------+------------+-------+
only showing top 20 rows


Schema of cleaned dataframe:
root
 |-- date: date (nullable = true)
 |-- mmm_yy: string (nullable = true)
 |-- week_no: string (nullable = true)

+----+------+-------+
|date|mmm_yy|week_no|
+----+------+-------+
|   0|     0|      0|
+----+------+-------+


Top 20 Customer Records:
+-----------+----------------+--------------+
|customer_id|customer_name   |city          |
+-----------+----------------+--------------+
|1000000.0  |Unknown         |Polokwane     |
|789420     |Acclaimed Stores|Unknown       |
|abcd       |Propel Mart     |Nelspruit     |
|789320     |Propel Mart_95  |Unknown       |
|123.45     |Rel Fresh       |East London   |
|789201     |Sorefoz Mart    |Durban        |
|789102     |Lotus Mart      |Nelspruit     |
|789503     |Unknown         |Bloemfontein  |
|789121     |Elite Mart      |Nelspruit     |
|789421     |Unknown         |Cape Town     |
|789501     |vijay stores    |Polokwane     |
|789521     |Viveks Stores   |Pretoria10    |
|789401     |Unknown         |Pretoria      |
|789420     |Unknown         |Port Elizabeth|
|789422     |CHIPTEC STORES  |Unknown       |
|789622     |chiptec stores  |Unknown       |
|789121     |Propel Mart_80  |Kimberley     |
|789421     |Viveks Stores_15|Unknown       |
|789603     |expert mart     |Unknown       |
|789603     |Vijay Stores    |East London   |
+-----------+----------------+--------------+
only showing top 20 rows


Top 20 Product Records:
+--------------------------------+-------------------+---------+
|product_id                      |product_name       |category |
+--------------------------------+-------------------+---------+
|59e9f4bf700031a537a7495085e108c4|Cheddar Cheese 250g|Dairy    |
|bd984327e9f06bf46e749d2e1300bb08|Cheddar Cheese 250g|Unknown  |
|fde194048278a967cd1e31df11a23052|Cheddar Cheese 500g|Dairy    |
|42687c68689652bb63145761b0120672|Cheddar Cheese 500g|Unknown  |
|374765b4eb2766da24879be557999ad3|Coca Cola 500ml    |Beverages|
|f90fd885f02cb1c92002c744b91dade5|Coca Cola 500ml    |Unknown  |
|3c0594ca73dba30ca02ffb2bfadd45c1|Cooking Oil 1l     |Groceries|
|15dd4eed8967ffc36ec15da1bb5ec094|Cooking Oil 1l     |Unknown  |
|c4ce0dac2a59479a54fd2390ea3aff75|Cooking Oil 500ml  |Groceries|
|cced1eca77baae1515d28b3551b2ba5e|Flour 1kg          |Groceries|
|1efeef6291721b1b3cea0a8b4a93a1fb|Flour 1kg          |Unknown  |
|bdbd13b42313c69b19f2f502f0cd773e|Flour 2kg          |Groceries|
|a51df4c002dddadbb081b25c53e28595|Flour 2kg          |Unknown  |
|5238265e0712dccef6a797b7ba95fc19|Instant Coffee 100g|Beverages|
|f84a6998837a75b512e302618f45a15f|Instant Coffee 100g|Unknown  |
|e4c705cd3c24eda69c4448d294a6e822|Instant Coffee 200g|Beverages|
|6b28baacd380a0b0fe9a37d51bf14181|Instant Coffee 200g|Unknown  |
|05f99abad0a9a5a773c88146e9ff1aee|Pepsi 500ml        |Beverages|
|102bf0789865aa068f05948feeb143aa|Rice 1kg           |Groceries|
|684e14267ff0d254f26aa3437c443c24|Rice 1kg           |Unknown  |
+--------------------------------+-------------------+---------+
only showing top 20 rows


Top 20 Date Records:
+----------+------+-------+
|date      |mmm_yy|week_no|
+----------+------+-------+
|2024-01-01|Jan-24|1      |
|2024-01-02|Jan-24|1      |
|2024-01-03|Jan-24|1      |
|2024-01-04|Jan-24|1      |
|2024-01-05|Jan-24|1      |
|2024-01-06|Jan-24|1      |
|2024-01-08|JAN-24|2      |
|2024-01-09|Jan-24|2      |
|2024-01-10|Jan-24|2      |
|2024-01-11|Jan-24|2      |
|2024-01-12|JAN-24|2      |
|2024-01-13|Jan-24|2      |
|2024-01-14|Jan-24|2      |
|2024-01-15|JAN-24|3      |
|2024-01-16|Jan-24|3      |
|2024-01-17|Jan-24|3      |
|2024-01-19|Jan-24|3      |
|2024-01-20|Jan-24|3      |
|2024-01-21|JAN-24|3      |
|2024-01-23|JAN-24|4      |
+----------+------+-------+
only showing top 20 rows

In [4]:
from pyspark.sql.functions import md5, concat, col, lit, coalesce
from pyspark.sql.types import StringType
from pyspark.sql.functions import regexp_replace, initcap, when, col, lower,upper